//IMPORTS

@import '../../Variables.scss';

//SCSS

.BusinessCard{
    background-color: white;
    border-radius: $borderradius;
    box-shadow: $boxshadow;
    width: 100%;
    &:hover{
      transform: scale(101%);
    }
    .Avatar{
        border-radius: $borderradius;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .Heading{
      margin-top: 0.5rem;
      padding: 1rem;
      h2{
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }
      p{
        color: rgb(71, 71, 71);
      }
    }
}