//IMPORTS

@import '../../Variables.scss';

//SCSS

.Card {
    flex: 1;

    min-width: 300px;
    position: relative;
    background-color: $white;
    padding: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
    border-radius: $borderradius;

    .Heading {
        h2 {}

        p {
            color: $grey;
        }
    }

    .Graph {
        height: 300px;
    }

}

.Info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $grey;
    margin-top: -3px;
    cursor: pointer;

    .nextui-button {
        background-color: white;
        padding: 0px;

        .nextui-button-text {
            font-size: 18px;
        }
    }
}

.Info :hover {
    color: black
}