//IMPORTS

@import '../Variables.scss';

//SCSS

.About {
    h1{
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .Cards{
        margin: auto;

        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: $mobile) {
            
        }
        .BusinessCard{
            flex-basis: 17%;
            @media (max-width: $mobile) {
                flex-basis: 100%;
            }
        }
    }
}