//IMPORTS

@import '../Variables.scss';

//SCSS

.About {
    h1 {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    p {
        color: rgb(81, 81, 81);
        font-size: 0.8rem;
    }

    .Cards {
        margin: auto;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        .BusinessCard {
            flex-basis: 17%;

            @media (max-width: $mobile) {
                flex-basis: 100%;
            }
        }
    }

    #ganttchart {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 70%;
        }
    }


    .Sources {
        margin-top: 80px;

        h2 {
            font-size: 1.3rem;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1rem;
        }

        .lastVisit {
            color: #797979;
            font-size: 1rem;
            font-weight: 300;

            margin-bottom: 10px;
        }
    }

    .SourceSpecifications {
        margin: auto;
        margin-top: 100px;
        justify-content: center;

        table {
            margin: auto;
        }
    }


}