//IMPORTS

@import '../Variables.scss';

//SCSS
.dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &.vertical {
        flex-direction: row;
        @media(max-width: $mobile){
            flex-direction: column;
        }
    }


    .BarCards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;


        &.vertical {
            flex-grow: 1;
            flex-direction: column;
        }
    }


    .GraphCards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;

        &.vertical {
            flex-grow: 7;
            flex-direction: column;
        }
    }



}

.loading-div {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 10px solid #31688e;
        border-color: #31688e transparent #31688e transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.tooltip {
    position: absolute;
    background-color: #ffffffc0;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    border: #00000029 solid 0.5px;
    transition: opacity 0.2s ease-in-out 0s;
    backdrop-filter: blur(2px);

    h3 {
        font-size: 1rem;
        font-weight: 800;
    }

    h4 {
        padding-top: 5px;
        font-size: 0.9rem;
        font-weight: 600;
    }


    p {
        font-size: 0.8rem;
    }
}

.InfoButtonGraph {
    position: absolute;
    top: 20px;
    right: 20px;
}

.CoronaGraphInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}