//IMPORTS

@import '../Variables.scss';

//SCSS

.Home {
    .Top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        @media(max-width: $mobile) {
            flex-direction: column;
        }
    }

    .Middle {
        margin-top: 2rem;
        position: relative;

    }

    .Bottom {
        margin-top: 2rem;
        position: relative;
    }

    .Bottom-Bottom {
        margin-top: 2rem;
        position: relative;
    }

    .Debug {
        margin-top: 1rem;
        display: none;

        &.visible {
            display: block;
        }

        p {
            margin-top: 1rem;
        }
    }
}

.loading-div {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 10px solid #31688e;
        border-color: #31688e transparent #31688e transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.tooltip {
    position: absolute;
    background-color: #ffffffc0;
    padding: 10px;
    border-radius: 5px;
    border: #00000029 solid 0.5px;
    transition: "all 0.15s ease-in-out 0s";
    backdrop-filter: blur(2px);

    h3 {
        font-size: 1rem;
        font-weight: 800;
    }

    p {
        font-size: 0.8rem;
    }
}

.InfoButtonGraph {
    position: absolute;
    top: 20px;
    right: 20px;
}

.CoronaGraphInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}