//IMPORTS

@import '../Variables.scss';

//SCSS

.Home {
    .Top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        @media(max-width: $mobile) {
            flex-direction: column;
        }
    }

    .Middle {
        margin-top: 2rem;
        position: relative;

    }

    .Bottom {
        margin-top: 2rem;
        position: relative;
    }

    .Bottom-Bottom {
        margin-top: 2rem;
        position: relative;
    }

    .Debug {
        margin-top: 1rem;
        display: none;

        &.visible {
            display: block;
        }

        p {
            margin-top: 1rem;
        }
    }
}


.tooltip {
    position: absolute;
    background-color: #ffffffc0;
    padding: 10px;
    border-radius: 5px;

    h3 {
        font-weight: 800;
    }

    p {
        font-size: 0.8rem;
    }
}
.InfoButtonGraph {
    position: absolute;
    top: 20px;
    right: 20px;
}

.CoronaGraphInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}