//IMPORTS

@import '../../Variables.scss';

//SCSS

.Timeline {
    flex: 1;
    position: relative;
    padding: 1rem;
    border-radius: $borderradius;
    background-color: $white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);

    .Heading {
        p {
            color: $grey;
        }
    }

    .Graph {
        height: 100px;
    }

}