//IMPORTS

@import '../../Variables.scss';

//SCSS

.SourceSpec {
  border-radius: $borderradius;
  width: 100%;
  text-align: left;

  th{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    .SourceName{
      width: 20px;
    }
  }

  &:hover {
    color:$sourceHover;
    transition: all 0.1s ease-in-out;

    a{
      color: $sourceHover;
      transition: all 0.1s ease-in-out;  
    }

    p{
      color: $sourceHover;
      transition: all 0.1s ease-in-out;  
    }
  }
}